<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>List of Foods</h1>
    <p><%= listOfFoodsToEat[0]%></p>
   <% listOfFoodsToEat.forEach(function(food) { %>
        <div class="recipe">
          <p class="food"> <%= food.name %></p>
          <p class="maxNumberOf"> For: <%= food.maxNumberOfDiners %> persons</p>
          <p class="alctual-diners"> Actual Diners: <%= food.maxNumberOfDiners %></p>
          <p class="date"> Date: <%=    food.date %></p>
          <p class="description"> Description: <%= food.description %></p>
          <p class="ingredients"> Ingredients: <%= food.ingredients %></p>
         
       </div>
       </a>
    <% }); %>


<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="javascripts/main.js"></script>
</body>
</html>